<!-- content ================================================== -->
<section id="content-wrap" class="site-page">
  <div class="row">
    <div class="col-twelve">
      <section>  
          <div class="primary-content">

            <h1 class="entry-title add-bottom">Register</h1> 
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                   <div class="alert-box  hideit ss-error %>">
                      <!-- <i class="fa fa-times close" data-dismiss="alert" aria-hidden="true" ></i> -->
                      <%= devise_error_messages! %>
                    </div>
                  
            
                 <fieldset>

                       <div class="form-field">
                         <%= f.email_field :email, id: :email, :class=> 'full-width', :placeholder=>"Email(Optional)", autofocus: true  %>
                       </div>
                       <div class="form-field">
                         <%= f.text_field :mobile_number, id: :mobile_number, :class=> 'full-width', :placeholder=>"Mobile Number", autofocus: true  %>
                       </div>

                       <div class="form-field">
                        <%= f.password_field :password, id: :password, :class=> 'full-width', :placeholder=>"Password",autocomplete: "off"   %>
                       </div>
                       <div class="form-field">
                        <%= f.password_field :password_confirmation, id: :password_confirmation, :class=> 'full-width', :placeholder=>"Password Confirmation",autocomplete: "off"   %>
                       </div>
                        <%= f.submit 'Register', :class=>"submit button-primary full-width-on-mobile"%>
                 </fieldset>
                <%end%> <!-- end form --><%#= render "devise/shared/links" %>
            </div>
            
        </section>
    </div> <!-- end col-twelve -->
  </div> <!-- end row -->   
</section>
