<%= form_with(model: video, local: true, html: { multipart: true }) do |form| %>
  <% if video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-md-6 col-lg-6 col-sm-12">
  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :video_title, :class=> 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description, id: :video_description, :class=> 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :archive_video %>
    <%= form.file_field :archive_video, id: :video_archive_video, :class=> 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.submit %>
  </div>
<% end %>

</div>