<section id="bricks">

    <div class="row masonry">

      <!-- brick-wrapper -->
         <div class="bricks-wrapper">

          <div class="grid-sizer"></div>

          <div class="brick entry featured-grid animate-this">
            <div class="entry-content">
              <div id="featured-post-slider" class="flexslider">
              <ul class="slides">

                

                <li>
                  <div class="featured-post-slide" style: "width: 101%;">
                      
              
                    <div class="post-background">
                        <!-- <div class="fluid-video-wrapper"> -->

                        <video style="height:71%;" src="<%= @videos.first.archive_video %>" poster="<%=  @videos.first.archive_video(:cuadro1) %>" controls>
                          <code>video</code>.
                        <!-- </div> -->
                     </video><br><br>
                     <div class="entry-text" style="height: 23%;">
                      <div class="entry-header">

                        <div class="entry-meta">
                          <span class="cat-links">
                            <a href="#">#English</a>                        
                          </span>     
                        </div>
                        <h1 class="entry-title"><%= link_to "#{@videos.first.title}", @videos.first %>
                      </div>
                      <div class="entry-excerpt">
                        <%= @videos.first.description %>
                      </div>
                     </div>
                    </div>
                    

                    <!-- <div class="overlay"></div>            -->

                    <!-- <div class="post-content">
                      <ul class="entry-meta">
                        <li>September 06, 2016</li> 
                        <li><a href="#" >Naruto Uzumaki</a></li>        
                      </ul> 

                      <h1 class="slide-title"><a href="single-standard.html" title="">Lorem ipsum Ut velit dolor</a></h1> 
                    </div>  -->                     
                
                  </div>
                </li> <!-- /slide -->

              </ul> <!-- end slides -->
            </div> <!-- end featured-post-slider -->              
            </div> <!-- end entry content -->             
          </div>              
              <%= render partial: 'video' %>
              <div id="videos"></div>
    
         </div> <!-- end brick-wrapper --> 

    </div> <!-- end row -->

    <div class="row">
          <%= will_paginate @videos, hidden: true %>
        <%#= will_paginate @videos%>
      <!-- <nav class="pagination">
          <span class="page-numbers prev inactive">Prev</span>
        <span class="page-numbers current">1</span>
        <a href="#" class="page-numbers">2</a>
          <a href="#" class="page-numbers">3</a>
          <a href="#" class="page-numbers">4</a>
          <a href="#" class="page-numbers">5</a>
          <a href="#" class="page-numbers">6</a>
          <a href="#" class="page-numbers">7</a>
          <a href="#" class="page-numbers">8</a>
          <a href="#" class="page-numbers">9</a>
        <a href="#" class="page-numbers next">Next</a>
        </nav> -->

    </div>

   </section> <!-- end bricks -->