<section id="content-wrap" class="site-page">
     <div class="row">
      <div class="col-twelve">

       <div class="col-five tab-full">

          <h3>Login</h3>

                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            
                 <fieldset>

                       <div class="form-field">
                         <%= f.text_field :mobile_number, id: :mobile_number, :class=> 'full-width', :placeholder=>"Mobile Number", autofocus: true  %>
                       </div>

                       <div class="form-field">
                        <%= f.password_field :password, id: :password, :class=> 'full-width', :placeholder=>"Password",autocomplete: "off"   %>
                       </div>
                        <% if devise_mapping.rememberable? -%>
                        <label class="add-bottom">
                          <%= f.check_box :remember_me %>              
                            <span class="label-text">Remeber me</span>
                        </label>
                         
                        <% end -%>
                        <%= f.submit 'Log in', :class=>"submit button-primary full-width-on-mobile"%>
                 </fieldset>
                <%end%>            

       </div>
       <div class="col-two" style="text-align: center;">
        <h2 class="or">OR</h2>
      </div>

       <div class="col-five tab-full">

          <h3>Register</h3>

              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <% if devise_error_messages! != '' %>
                   <div class="alert-box  hideit ss-error %>">
                      <!-- <i class="fa fa-times close" data-dismiss="alert" aria-hidden="true" ></i> -->
                      <%= devise_error_messages! %>
                    </div>
                  <%end%>
            
                 <fieldset>
                      <div class="form-field">
                         <%= f.text_field :name, id: :name, :class=> 'full-width', :placeholder=>"Name", autofocus: true  %>
                       </div>
                       <div class="form-field">
                         <%= f.email_field :email, id: :email, :class=> 'full-width', :placeholder=>"Email(Optional)", autofocus: true  %>
                       </div>
                       <div class="form-field">
                         <%= f.text_field :mobile_number, id: :mobile_number, :class=> 'full-width', :placeholder=>"Mobile Number", autofocus: true  %>
                       </div>

                       <div class="form-field">
                        <%= f.password_field :password, id: :password, :class=> 'full-width', :placeholder=>"Password",autocomplete: "off"   %>
                       </div>
                       <div class="form-field">
                        <%= f.password_field :password_confirmation, id: :password_confirmation, :class=> 'full-width', :placeholder=>"Password Confirmation",autocomplete: "off"   %>
                       </div>
                        <%= f.submit 'Register', :class=>"submit button-primary full-width-on-mobile"%>
                 </fieldset>
                <%end%>             

       </div>
       </div>

   </div> <!-- end styles -->
</section>