<!-- content ================================================== -->
<section id="content-wrap" class="site-page">
  <div class="row">
    <div class="col-twelve">
      <section>  
          <div class="primary-content">

            <h1 class="entry-title add-bottom">Log In</h1> 
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            
                 <fieldset>

                       <div class="form-field">
                         <%= f.text_field :mobile_number, id: :mobile_number, :class=> 'full-width', :placeholder=>"Mobile Number", autofocus: true  %>
                       </div>

                       <div class="form-field">
                        <%= f.password_field :password, id: :password, :class=> 'full-width', :placeholder=>"Password",autocomplete: "off"   %>
                       </div>
                        <% if devise_mapping.rememberable? -%>
                        <label class="add-bottom">
                          <%= f.check_box :remember_me %>              
                            <span class="label-text">Remeber me</span>
                        </label>
                         
                        <% end -%>
                        <%= f.submit 'Log in', :class=>"submit button-primary full-width-on-mobile"%>
                 </fieldset>
                <%end%> <!-- end form --><%#= render "devise/shared/links" %>
            </div>
            
        </section>
    </div> <!-- end col-twelve -->
  </div> <!-- end row -->   
</section>