
<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
  <title>Farmerce</title>
 
  <meta name="description" content="">  
  <meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <%= csrf_meta_tags %>
  <!-- CSS==================================================  --> 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>   



   <!-- favicons
  ================================================== -->
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">

  <!-- header 
   ================================================== -->
   <header class="short-header">   

    <div class="gradient-block"></div>  

    <div class="row header-content">

     <!--  <div class="logo">
           <%#= link_to 'Home', root_path %> 
        </div> -->

           <div class="logo_with_text">
               <%= link_to root_path, class: "thumb-link" do %>
                       <%= image_tag ('logo.png') %>
                       <h2>Farmerce</h2>
                <% end %>
                
            </div>
        

      <nav id="main-nav-wrap">
        <ul class="main-navigation sf-menu">
          <!-- <li class="current"><%#= link_to 'Home', root_path %></li>   -->
          <%= nav_link 'Home', root_path  %>              
          <!-- <li class="has-children">
            <a href="category.html" title="">Categories</a>
            <ul class="sub-menu">
                  <li><a href="category.html">Wordpress</a></li>
                  <li><a href="category.html">HTML</a></li>
                  <li><a href="category.html">Photography</a></li>
                  <li><a href="category.html">UI</a></li>
                  <li><a href="category.html">Mockups</a></li>
                  <li><a href="category.html">Branding</a></li>
               </ul>
          </li> -->
          <!-- <li class="has-children">
            <a href="single-standard.html" title="">Blog</a>
            <ul class="sub-menu">
                  <li><a href="single-video.html">Video Post</a></li>
                  <li><a href="single-audio.html">Audio Post</a></li>
                  <li><a href="single-gallery.html">Gallery Post</a></li>
                  <li><a href="single-standard.html">Standard Post</a></li>
               </ul>
          </li> -->
          <li><%= nav_link 'Add video', new_video_path %></li>

            <% if current_user.present? %>
              <li><%#= nav_link 'Edit Profile', edit_user_registration_path(current_user) %></li>
              <li><%= link_to 'Signout', destroy_user_session_path,:method => :delete %></li>
            <%else %>
              <li><%= nav_link 'Signin', user_session_path %></li>
              <li><%= nav_link 'Register', new_user_registration_path %><li>
            <%end%>

       <!--    <li><a href="#" title="">About</a></li>  
          <li><a href="#" title="">Contact</a></li>   -->                  
        </ul>
      </nav> <!-- end main-nav-wrap -->

      <div class="search-wrap">
        
        <form role="search" method="get" class="search-form" action="#">
          <label>
            <span class="hide-content">Search for:</span>
            <input type="search" class="search-field" placeholder="Type Your Keywords" value="" name="s" title="Search for:" autocomplete="off">
          </label>
          <input type="submit" class="search-submit" value="Search">
        </form>

        <a href="#" id="close-search" class="close-btn">Close</a>

      </div> <!-- end search wrap --> 

      <div class="triggers">
        <a class="search-trigger" href="#"><i class="fa fa-search"></i></a>
        <a class="menu-toggle" href="#"><span>Menu</span></a>
      </div> <!-- end triggers -->  
      
    </div>        
    
   </header> <!-- end header -->
      
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div class="alert-box  hideit ss-<%= name.to_s == 'notice' ? 'success' : 'error' %>">
          <i class="fa fa-times close" data-dismiss="alert" aria-hidden="true" ></i>
          <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> -->
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        </div>
      <% end %>
    <% end %>

    <%= yield %>
   
   <!-- footer
   ================================================== -->
    <%= render 'layouts/footer'%> 
   <!-- end footer-bottom --> 
      <!-- script==================================================-->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <div id="preloader"> 
      <div id="loader"></div>
   </div> 
</body>

</html>